.v-application a {
  text-decoration: none;
  color: inherit !important;
  border-bottom: 2px solid green;
}

.v-application time {
  color: gray;
}

.nuxt-content img {
  width: 100%;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  width: 100%;
}

.content {
  max-width: 900px;
  padding-left: 16px;
  padding-right: 16px;
  flex-grow: 1;

}

@media only screen and (max-width: 900px) {
  .content {
    padding-left: 28px;
    padding-right: 28px;
  }

  .content-wrapper {
    padding-top: 32px;
  }
}

.v-toolbar__content {
  padding: 0 !important;
}

@font-face {
  font-family: "VanChuong";
  src: local("VanChuong"),
   url(~assets/fonts/VanChuong.ttf) format("truetype");
}

@font-face {
  font-family: "FilmotypeHoney";
  src: local("FilmotypeHoney"),
   url(~assets/fonts/FilmotypeHoney.otf) format("opentype");
}